.chat{
    position: fixed;
    bottom: -25px;
    right: -25px;
    z-index: 99;
    padding: 30px;
}


button.close {
    float: left;
    margin-right: -20px;
    padding: 0;
    background-color: transparent;
    border: 0;
}
.chat-popup {
    display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 13px 13px 0px 0px;

  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
  }
 
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }